.slider { 
  margin-top: 60px !important;
  padding: auto; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin:  8px;  
}

.image {
  width: 90%;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 68px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 68px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  z-index: 1;
  
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
 